

<div class="container content">
    <div class="row">
        <!-- Pricing -->
        <div class="col-md-4">
            <div class="pricing hover-effect">
                <div class="pricing-head pricing-head-active">
                    <h3>Launch <span>
                    for podcasters who are just getting started </span>
                    </h3>
                    <h4>Free
                    </h4>
                </div>
                <ul class="pricing-content">
                    <li>
                        Record up to 50 episodes
                    </li>
                    <li>
                        30 Minute max episode length
                    </li>
                    <li>
                        Episodes available for 6 months
                    </li>
                    <li>
                        Pre-roll ad from PodcastMatic
                    </li>
                </ul>
                <div class="pricing-footer">
                    <p>
                        <br>
                         If you're just looking to get started - this plan is for you. 
                         <br>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pricing pricing-active hover-effect">
                <div class="pricing-head pricing-head-active">
                    <h3>250 Minutes <span>
                    of recording and storage for one year </span>
                    </h3>
                    <h4><i>$</i>49
                    </h4>
                </div>
                <ul class="pricing-content">
                                        <li>
                                            Unlimited episode length
                                        </li>
                                        <li>
                                            Episodes available for 1 year
                                        </li>
                                        <li>
                                            Ad free 
                                        </li>
                                        <li>
                                            Per-episode Analytics
                                        </li>
                                        <li>
                                            Crystal clear pay-as-you-go annual pricing
                                        </li>
                </ul>
                <div class="pricing-footer">
                    <p>
                         Need more minutes or want episodes available longer?  No problem - Just pay as you go.  
                    </p>

                </div>
            </div>
        </div>
<!--         <div class="col-md-4">
            <div class="pricing  hover-effect">
                <div class="pricing-head pricing-head-active">
                    <h3> 500 Minutes <span>
                    of recording and storage for one year </span>
                    </h3>
                    <h4><i>$</i>99
                    </h4>
                </div>
                <ul class="pricing-content">
                                        <li>
                                            Unlimited episode length
                                        </li>
                                        <li>
                                            Episodes available for 1 year
                                        </li>
                                        <li>
                                            Ad free 
                                        </li>
                                        <li>
                                            Crystal clear pay-as-you-go annual pricing
                                        </li>
                </ul>                <div class="pricing-footer">
                    <p>
                         Need more minutes or want episodes available longer?  No problem - Just pay as you go.
                    </p>

                </div>
            </div>
        </div> -->
        <div class="col-md-4">
            <div class="pricing hover-effect">
                <div class="pricing-head pricing-head-active">
                    <h3> Going Big <span>
                    For the pro podcaster who needs all the bells and whistles </span>
                    </h3>
                    <h5>Coming soon

                    </h5>
                </div>
                <ul class="pricing-content">
                                        <li>
                                            Unlimited episode length
                                        </li>
                                        <li>
                                            Custom Availability
                                        </li>
                                        <li>
                                            Ad free 
                                        </li>
                                        <li>
                                            Per-episode Analytics
                                        </li>
                                        <li>
                                            Professional audio editing 
                                        </li>
                </ul>
                <div class="pricing-footer">
                    <p>
                         Get a dedicated account manager and professional finishing for your podcast for a low per-episode rate
                    </p>

                </div>
            </div>
        </div>
        <!--//End Pricing -->
    </div>
</div>