    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <center>
                <h3> Plan Options </h3>
                    <div class="container content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pricing">
                                    <div class="pricing-head pricing-head-active">
                                        <h3>Software Only<span>
                                        For the professional with an ad sales staff or self-managed </span>
                                        </h3>
                                        <h4><i>Private Early Access Pricing</i>
                                        <span>
                                        Per Month </span>
                                        </h4>
                                    </div>
                                    <ul class="pricing-content list-unstyled">
                                        <li>
                                            Sponsor Communication Platform
                                        </li>
                                        <li>
                                            Real-time Content Sharing & Editing
                                        </li>
                                        <li>
                                            Content Calendar
                                        </li>
                                        <li>
                                            Payments
                                        </li>
                                        <li>
                                            Super Support 
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
<!--                                         <p>
                                             Sign up for early access
                                        </p> -->
<!--                                         <a href="javascript:;" class="btn yellow-crusta">
                                        Sign Up
                                        </a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pricing hover-effect">
                                    <div class="pricing-head pricing-head-active">
                                        <h3>Done for you<span>
                                        For the lone ranger who'd rather focus on content </span>
                                        </h3>
                                        <h4><i>$</i>900<i>.00+ </i>
                                        <span>
                                        Per Month </span>
                                        </h4>
                                    </div>
                                    <ul class="pricing-content list-unstyled">
                                        <li>
                                            Dedicated Account Manager
                                        </li>
                                        <li>
                                            Our team does all the sponsor outreach
                                        </li>
                                        <li>
                                            Our team does all the scheduling
                                        </li>
                                        <li>
                                            Our team does all the editing
                                        </li>
                                        <li>
                                            All you do is hit record and collect!
                                        </li>
                                    </ul>
<!--                                     <div class="pricing-footer">
                                        <p>
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                        </p>
                                        <a href="javascript:;" class="btn yellow-crusta">
                                        Sign Up
                                        </a> -->
                                    </div>
                                </div>
                            </div>
                            <!--//End Pricing -->
                        </div>
                    </div>
