<br>
                                <div class="pricing">
                                    <div class="pricing-head pricing-head-active">
                                        <h3>100 Minutes<span>
                                        of recording + one year of hosting</span>
                                        </h3>
                                        <h4><i>$19</i>
                                        <!-- <span>
                                        Per Month </span> -->
                                        </h4>
                                    </div>
                                    <ul class="pricing-content center">
                                        <li>
                                        All-in-one recording and hosting - No uploads or downloads                                        </li>
                                        <li>
                                            Record Skype Calls, Google Hangouts, or Facebook Live chats
                                        </li>
                                        <li>
                                            Record from a mobile device on the go
                                        </li>
                                        <li>
                                            Simple in-browser recording with nothing to configure
                                        </li>
                                        <li>
                                            Crystal clear pay-as-you-go annual pricing
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
<!--                                         <p>
                                             Sign up for early access
                                        </p> -->
<!--                                         <a href="javascript:;" class="btn yellow-crusta">
                                        Sign Up
                                        </a> -->
                            <!--//End Pricing -->
   </div>
</div>